### Budi
### kelas Data science
### Kamis, 7/08/2025
### Nilai : 60 - Bapak udah keren bisa sampe sini, tapi bapak belajar lagi ya :)

In [2]:
# Nomor 1

print("hello semua")
print("ini program pertama saya")

hello semua
ini program pertama saya

In [5]:
# Nomor 2

nama = input("masukan nama:")
umur = input("masukan umur anda:")

print(f"Hallo nama saya {nama} dan umur saya {umur} tahun !")

masukan nama:Dhananjaya
masukan umur anda:14
Hallo nama saya Dhananjaya dan umur saya 14 tahun !

In [8]:
# Nomor 3

def tambah (a, b):
    h = a+b
    return h

def kurang (a,b):
    h = a-b
    return h


print(tambah (50,80))
print(kurang (100,40))

130
60

In [12]:
# Nomor 4

nama = input("Masukkan nama: ")
umur = input("masukan umur")
print("Hallo, " + nama)
print("umur" + umur)

Masukkan nama: Mentari Buana
masukan umur 8
Hallo, Mentari Buana
umur 8

In [ ]:
# Nomor 5


Tipe data: Jenis nilai yang di simpan dalam variabel.

contoh tipe data umum:


1. Int atau Integer adalah bilangan bulat seperti 123456, 200, 3000, 40000.

2. Float adalah bilangan desimal dia temennya double. float itu 5,50.

3. Double temennya float bilangan desimal tapi lebih panjang. contoh 3,898989789789.

4. str atau String adalah bilangan huruf atau kalimat dan bisa nampung banyak.

5. **float dan double dalam python sudah termasuk float64.**

6. **float64 artinya python sudah pasti dapat menampung banyak angka dan data.**

7. Complex itu bilangan terdiri dari real dan imajiner :

In [18]:
# Nomor 6


Karyawan = [
    {"nama": "Agung", "umur": 30},
    {"nama": "Diana", "umur": 35},
    {"nama": "Albert", "umur": 34}
]

print(Karyawan[1]["nama"], Karyawan[1]["umur"])

print(Karyawan[2]["nama"], Karyawan[2]["umur"])

Diana 35
Albert 34

In [19]:
# Nomor 7

negara=["swiss", "jepang", "iran", "irak","china"]
negara.insert(3, "Korut")
print(negara)

['swiss', 'jepang', 'iran', 'Korut', 'irak', 'china']

In [21]:
# Nomor 8

angka = [4, 2, 9, 1, 10, 12]
angka.sort()
print(angka)

[1, 2, 4, 9, 10, 12]

In [22]:
# Nomor 9

karyawan={

    "nama":"Cahya",
    "umur": "34",
    "lulus":True
}

print(karyawan["nama"])
print(karyawan.get("umur"))

#mengubah nialai

karyawan["umur"] = 35
karyawan["departement"] = "marketing"

print(karyawan)

Cahya
34
{'nama': 'Cahya', 'umur': 35, 'lulus': True, 'departement': 'marketing'}

In [ ]:
# Nomor 10


List adalah kumpulan data /nilai yang bisa berubah (mutable). Bisa menyimpan data apa pun: angka, strinh bahkan campuran

Dictionry adalah menyimpan data dalam bentu pasangan kunci-nilai (key-value). Mirip seperti table atau obyek dalam JSON

In [27]:
# Nomor 11
mahasiswa = [
    {"nama": "Rani", "umur": 20},
    {"nama": "Budi", "umur": 22},
    {"nama": "Lia", "umur": 19}
]

print("Nama:", mahasiswa[0]["nama"])
print("Umur:", mahasiswa[0]["umur"])

Nama: Rani
Umur: 20

In [ ]:
# Nomor 12


Apa perbedaan integer adalah bilanagan bulat dan float bilanagn decimal? dan menurut anda apakah python dapat menyimpan data atau angka yang besar ? iya bisa

In [ ]:
# Nomor 13

If              : hanya kondisi benar
if, else        : dua kemungkinan benar atau salah
if, elif, else  : banyak kondisi

In [31]:
# Nomor 14

nilai = 90

if nilai >= 85:
    print("lulus")
else:
    print("tidak lulus")

lulus

In [35]:
# Nomor 15

nilai = 85

if nilai >= 90:
    print("Grade: A")
elif nilai >= 80:
    print("Grade: B")
elif nilai >= 70:
    print("Grade: C")
elif nilai >= 60:
    print("Grade: D")
else:
    print("Grade: E")

Grade: B

In [36]:
# Nomor 16

username = input("Masukkan username: ")
password = input("Masukkan password: ")

if username == "admin" and password == "789789":
    print("Login berhasil!")
elif username != "admin":
    print("Username salah.")
else:
    print("Password salah.")

Masukkan username: mentari
Masukkan password: 789789
Username salah.

In [ ]:
# Nomor 17

umur = 16
punya_ktp = False

if umur < 17:
    print("sudah boleh buat ktp")
    if punya_ktp:

        print("punya ktp dan sudah memiliki ktp")
        else ("tapi belum punya ktp ,silahkan urus ke ducapil!")