# Intro To Python For Data Science
****
## Pertemuan 2 ( Sesi 3 - 4)
### Apa saja yang akan kita bahas ?
1. Pengenalan Syntax
2. Tipe Data
3. Variabel dan Konstanta
4. Number
5. List, Tuple dan Dictionary

************

#### 1. Pengenalan Syntax

Apa itu Syntax ? Sintaks (Syntax) adalah aturan penulisan kode dalam suatu bahasa pemrograman.

```
<!-- ini benar -->
umur = 22

<!-- ini salah -->
22 = umur
```

In [ ]:
# ini adalah komentar
# program cetak
print("Hello World")

Hello World

In [ ]:
# Program input
nama = input("Masukkan nama: ")
print("Halo, " + nama)

Halo, Vanya Mayazura

*****************

## 2. Tipe Data

**Tipe data** adalah jenis nilai yang disimpan dalam variabel. Contoh tipe data umum:

* Int atau Integer adalah bilangan bulat seperti 123456, 200, 3000.

* Float adalah bilangan desimal dia temennya double. float itu 3,14.

* Double temennya float bilangan desimal tapi lebih panjang. contoh 3,4445566774445.

* str atau String adalah bilangan huruf atau kalimat dan bisa nampung banyak.

* **float dan double dalam python sudah termasuk float64.**

* **float64 artinya python sudah pasti dapat menampung banyak angka dan data.**

* Complex itu bilangan terdiri dari real dan imajiner :

Format umum complex :
```
a + bj
```
Keterangan complex :
* a -> bagian real
* b -> bagian imajiner
* j -> simbol bilangan imajiner

In [63]:
# Integer (bilangan bulat)
x = 10
print(x)
print(type(x))  # <class 'int'>

# Float (bilangan desimal)
y = 3.14
print(y)
print(type(y))  # <class 'float'>

# Complex (bilangan kompleks)
z = 2 + 3j
print(z)
print(type(z))  # <class 'complex'>

10
<class 'int'>
3.14
<class 'float'>
(2+3j)
<class 'complex'>

Fungsi Type() disini untuk menentukan dia tipe data apa :

In [64]:
# menggunakan fungsi type()
# Variabel dengan berbagai tipe data
nama = "Vanya"        # str
umur = 21             # int
ipk = 3.85            # float
lulus = True          # bool
hobi = ["ngoding", "gambar"]  # list
data = {"nama": "Vanya", "umur": 21}  # dict
angka_kompleks = 5 + 2j        # complex

# Mengecek dan mencetak tipe data
print("Tipe data nama:", type(nama))
print("Tipe data umur:", type(umur))
print("Tipe data ipk:", type(ipk))
print("Tipe data lulus:", type(lulus))
print("Tipe data hobi:", type(hobi))
print("Tipe data data:", type(data))
print("Tipe data angka_kompleks:", type(angka_kompleks))

Tipe data nama: <class 'str'>
Tipe data umur: <class 'int'>
Tipe data ipk: <class 'float'>
Tipe data lulus: <class 'bool'>
Tipe data hobi: <class 'list'>
Tipe data data: <class 'dict'>
Tipe data angka_kompleks: <class 'complex'>

#### Trick Boolean
* **AND (&&)**
```
true && false = false
true && true = true
false && false = false
```
Hasilnya true kalau kedua nya true.

* **OR (||)**
```
true || false = true
true || true = true
false || false = false
```
Hasilnya true kalau salah satu ada yang true.

* **NOT (!)**
```
!true = false
!false = true
```
kebalikannya.

In [14]:
# Contoh 1: Operator AND
print("Contoh AND:")
a = True
b = False
print("a and b =", a and b)  # False, karena salah satu False

# Contoh 2: Operator OR
print("\nContoh OR:")
x = True
y = False
print("x or y =", x or y)  # True, karena salah satu True

# Contoh 3: Operator NOT
print("\nContoh NOT:")
z = True
print("not z =", not z)  # False, karena not True = False

# Contoh 4: Kombinasi
print("\nContoh Kombinasi:")
usia = 17
punya_ktp = False

boleh_nonton = usia >= 18 or punya_ktp
print("Boleh nonton dewasa:", boleh_nonton)

if not boleh_nonton:
    print("Maaf, kamu belum bisa nonton film dewasa.")

Contoh AND:
a and b = False

Contoh OR:
x or y = True

Contoh NOT:
not z = False

Contoh Kombinasi:
Boleh nonton dewasa: False
Maaf, kamu belum bisa nonton film dewasa.

**********************

### 3. Variabel dan Konstanta

**Variabel** adalah tempat untuk menyimpan nilai sementara sehingga nilai dapat berubah2.

```
nama = "Vanya"
umur = 21
ipk = 3.75
```

nama, umur dan ipk adalah nama variabel.

nilai di dalam variabel tersebut bisa kita ubah.

**Aturan penamaan Variabel :**
* Harus diawali huruf atau underscore (_)

* Tidak boleh diawali angka

* Tidak boleh pakai spasi (gunakan _)

* Bersifat case-sensitive (nilai ≠ Nilai)

In [68]:
umur = 22
nama = "vanya"
ipk = 3.75


# umur = 34
# ipk = 3.93
# nama = vanya mayazura


print(umur)
print(ipk)
print(nama)

22
3.75
vanya

Sedangkan **Konstanta** adalah tempat untuk menyimpan nilai namun permanen.

Konstanta ditulis dengan huruf kapital dan biasa diletakkan diawal program :
```
PI = 3.14159
GOLDEN_RATIO = 1.618
MAX_LOGIN_ATTEMPTS = 5
```
*** Aturan Penulisan Konstanta :**
* Gunakan huruf kapital semua

* Pakai underscore _ untuk pemisah

* Simpan di bagian atas program

In [70]:
# KONSTANTA
PI = 3.14159
GOLDEN_RATIO = 1.618
MAX_LOGIN_ATTEMPTS = 5

# Variabel
jari_jari = 7

# menggunakan Konstanta
luas_lingkaran = PI * jari_jari * 2

print("Luas lingkaran:", luas_lingkaran)
print("Nilai rasio emas:", GOLDEN_RATIO)
print("Batas percobaan login:", MAX_LOGIN_ATTEMPTS)

Luas lingkaran: 43.98226
Nilai rasio emas: 1.618
Batas percobaan login: 5

## Perbedaan Variabel dan Konstanta

| Konsep    | Variabel               | Konstanta                            |
|-----------|------------------------|--------------------------------------|
| Sifat     | Bisa berubah           | Tidak boleh diubah (secara konvensi) |
| Penulisan | nama_biasa, camelCase  | HURUF_KAPITAL                         |
| Contoh    | `nama = "Vanya"`       | `MAX_USER = 100`                      |
| Perilaku  | Fleksibel              | Tetap                                 |

*********************************

### 4. Number

Number adalah bilangan angka seperti integer, float dan complex.

| Tipe      | Nama Lengkap   | Contoh        | Digunakan untuk                     | Gambaran                                | 
| --------- | -------------- | ------------- | ----------------------------------- |-----------------------------------------|
| `int`     | Integer        | 1, -100, 0    | Bilangan bulat                      | umur, jumlah dan skor                   |
| `float`   | Floating Point | 3.14, -0.01   | Bilangan desimal                    | IPK, suhu dan bb                        |
| `complex` | Complex Number | 2+3j, -1+0.5j | Bilangan kompleks (real + imajiner) | teknik, sinyal listrik dan mtk kompleks |

In [71]:
# INTEGER
a = 10
b = -5
c = 0

print(a, type(a))  # 10 <class 'int'>
print("----------------")

# FLOAT
x = 3.14
y = -0.5
z = 7 / 2

print(x, type(x))  # 3.14 <class 'float'>
print(z)    
print("----------------")

# COMPLEX
f = 2 + 3j
print(f, type(f))      # (2+3j) <class 'complex'>
print("Real:", f.real) # 2.0
print("Imag:", f.imag) # 3.0

10 <class 'int'>
----------------
3.14 <class 'float'>
3.5
----------------
(2+3j) <class 'complex'>
Real: 2.0
Imag: 3.0

### Operasi Matematika Dasar

In [74]:
a = 2
b = 4

print(a + b)   # Penjumlahan → 13
print(a - b)   # Pengurangan → 7
print(a * b)   # Perkalian → 30
print(a / b)   # Pembagian → 3.333...
print(a // b)  # Pembagian bulat → 3
print(a % b)   # Sisa bagi (modulo) → 1
print(a ** b)  # Pangkat → 1000

6
-2
8
0.5
0
2
16

### Konversi Tipe Number

In [76]:
a = 10
b = float(a)       # 10 → 10.0
c = int(10.55)      # 3.99 → 3 (dibulatkan ke bawah)
d = complex(5)     # 5 → (5+0j)

print(b, type(b))  # <class 'float'>
print(c, type(c))  # <class 'int'>
print(d, type(d))

10.0 <class 'float'>
10 <class 'int'>
(5+0j) <class 'complex'>

| Hal yang Sering Ditanya              | Jawaban                                                         |
| ------------------------------------ | --------------------------------------------------------------- |
| Apakah `float` = `double` di Python? | Iya, `float` di Python = 64-bit float seperti `double` di Java  |
| Bisa overflow?                       | Tidak seperti C/Java, Python mendukung int besar tanpa overflow |
| Ada tipe `double`?                   | Tidak. Python hanya pakai `float`, tapi itu setara `double`     |
| Perlu deklarasi tipe?                | Tidak. Python otomatis deteksi tipe data dari nilai             |

Overflow adalah nilai yang melebihi batas maksimum sehingga nilai bisa salah, rusak atau bahkan error.

C/C++
```
int x = 2147483647;  // batas maksimum
x = x + 1;
printf("%d", x);     // hasilnya malah -2147483648 (jadi negatif!)
```

In [83]:
x = 123.456678
print(x)

123.456678

********************************

### 5. List, Tuple dan Dictionary


#### 5.1 List ( Daftar )
List adalah kumpulan nilai/data yang bisa berubah (mutable).
Bisa menyimpan tipe data apa pun: angka, string, bahkan campuran.

In [90]:
buah = ["apel", "pisang", "jeruk"]
print(buah)              # ['apel', 'pisang', 'jeruk']
print(buah[1])
print(buah[-1])           

# Mengubah isi list
buah[0] = "mangga"
print(buah)              # ['mangga', 'pisang', 'jeruk']

# Menambahkan item
buah.append("nanas")
print(buah)              # ['mangga', 'pisang', 'jeruk', 'nanas']

['apel', 'pisang', 'jeruk']
pisang
jeruk
['mangga', 'pisang', 'jeruk']
['mangga', 'pisang', 'jeruk', 'nanas']

#### 5.3 Memanggil indeks list

In [88]:
mahasiswa = [
    {"nama": "Rani", "umur": 20},
    {"nama": "Budi", "umur": 22},
    {"nama": "Lia", "umur": 19}
]

print(mahasiswa[1]["nama"])  # 'Budi'
# manggil kedua nya
print(mahasiswa[2]["nama"], mahasiswa[2]["umur"])

Budi
Lia 19

#### 5.4 Menghapus indeks

In [89]:
buah = ["apel", "jeruk", "pisang", "mangga"]
buah.remove("jeruk")
print(buah)

['apel', 'pisang', 'mangga']

#### 5.5 Menambahkan list

In [57]:
buah = ["apel", "pisang", "jeruk"]
buah.insert(1, "mangga")  # Menyisipkan 'mangga' di indeks ke-1
print(buah)

['apel', 'mangga', 'pisang', 'jeruk']

In [93]:
angka = [10, 20, 30]

# Menyisipkan di awal
angka.insert(0, 5)

# Menyisipkan di akhir (sebelum elemen terakhir)
angka.insert(len(angka), 35)

print(angka)

[5, 10, 20, 30, 35]

#### 5.6 Sort List

In [94]:
angka = [4, 2, 9, 1]
angka.sort()
print(angka)  # [1, 2, 4, 9]

angka.reverse()
print(angka)  # [9, 4, 2, 1]

[1, 2, 4, 9]
[9, 4, 2, 1]

#### 5.7 Menyalin List

In [95]:
buah = ["apel", "jeruk", "mangga"]
buah_salinan = buah.copy()

print("Asli:", buah)
print("Salinan:", buah_salinan)

Asli: ['apel', 'jeruk', 'mangga']
Salinan: ['apel', 'jeruk', 'mangga']

#### 5.2 Tuple ( Data Tetap )

Tuple mirip List, tapi tidak bisa diubah (immutable).
Biasa dipakai untuk data tetap seperti koordinat, warna RGB, dll.

In [97]:
warna = ("merah", "hijau", "biru")
print(warna[0])         # 'merah'
print(warna[0] == "kuning")

# warna[0] = "kuning"   ❌ ERROR: tidak bisa diubah

merah
False

In [98]:
angka1 = (1, 2, 3)
angka2 = (4, 5)
gabungan = angka1 + angka2
print(gabungan)  # (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [47]:
warna = ("merah", "biru", "kuning", "hijau")
print(len(warna))  # 4

4

#### 5.3 Dictionary ( Kamus Data )

Dictionary menyimpan data dalam bentuk pasangan kunci-nilai (key-value).
Mirip seperti tabel atau objek dalam JSON.

In [ ]:
# Dictionary
mahasiswa = {
    # "key": value
    "nama": "Vanya",
    "umur": 21,
    "lulus": True
}

print(mahasiswa["nama"])    # 'Vanya'
print(mahasiswa.get("umur"))  # 21

# Mengubah nilai
mahasiswa["umur"] = 22

# Menambahkan pasangan baru
mahasiswa["jurusan"] = "Sistem Informasi"

print(mahasiswa)

{'nama': 'Vanya', 'umur': 21, 'lulus': True}

| Struktur   | Bisa Diubah? | Bisa Duplikat? | Akses via | Contoh                          |
| ---------- | ------------ | -------------- | --------- | ------------------------------- |
| List       | ✅ Ya         | ✅ Ya           | Index     | `["apel", "jeruk"]`             |
| Tuple      | ❌ Tidak      | ✅ Ya           | Index     | `("merah", "biru")`             |
| Dictionary | ✅ Ya         | ❌ Key unik     | Key       | `{"nama": "Vanya", "umur": 21}` |

*************************

### Latihan Soal !

**Soal 1: List**

Buatlah list dengan nama hobi yang berisi tiga hobi favoritmu. Tambahkan satu hobi baru ke dalam list tersebut dan tampilkan semua hobi menggunakan print().


**Soal 2: Tuple**

Buat tuple dengan nama warna_pilihan yang berisi tiga warna favoritmu. Coba tampilkan warna kedua dari tuple tersebut.


**Soal 3: Dictionary**

Buat dictionary dengan nama buku yang berisi data berikut:

"judul": "Belajar Python"

"penulis": "Andi"

"tahun": 2023

Tampilkan nilai dari key "penulis" dan tambahkan key baru "penerbit" dengan nilai "Informatika Press".


**Soal 4 : List Indeks**
```
mahasiswa = [
    {"nama": "Rani", "umur": 20},
    {"nama": "Budi", "umur": 22},
    {"nama": "Lia", "umur": 19}
]
```
bagaimana cara menampilkan si Rani dan umurnya.

*************

### Pembahasan

In [ ]:
# 1.
hobi = ["menggambar", "membaca", "bersepeda"]
hobi.append("berkebun")
print(hobi)

['menggambar', 'membaca', 'bersepeda', 'berkebun']

In [104]:
# 2
warna_pilihan = ("biru", "ungu", "hijau")
print(warna_pilihan[1])  # menampilkan warna kedua

ungu

In [105]:
# 3
buku = {
    "judul": "Belajar Python",
    "penulis": "Andi",
    "tahun": 2023
}

# Tampilkan penulis
print(buku["penulis"])

# Tambahkan key baru
buku["penerbit"] = "Informatika Press"

# Cetak dictionary lengkap
print(buku)

Andi
{'judul': 'Belajar Python', 'penulis': 'Andi', 'tahun': 2023, 'penerbit': 'Informatika Press'}

In [107]:
4
mahasiswa = [
    {"nama": "Rani", "umur": 20},
    {"nama": "Budi", "umur": 22},
    {"nama": "Lia", "umur": 19}
]

print("Nama:", mahasiswa[0]["nama"])
print("Umur:", mahasiswa[0]["umur"])

Nama: Rani
Umur: 20