# Pertemuan 22 - Python for SQLite3
---

## 1. Intro to SQL

### Tujuan
- Memahami apa itu SQL

- Perbedaan RDBMS (MySQL, PostgreSQL, SQLite, dll.)

- Kenapa kita pakai SQLite di Python

### Penjelasan Singkat:

- SQL (Structured Query Language) adalah bahasa untuk mengakses dan mengelola database.

- SQLite adalah database ringan, tanpa server, langsung tersimpan di file .db atau .sqlite.

### Keunggulan SQLite:

- Ringan dan portable

- Tidak perlu install server

- Cocok untuk belajar & prototyping

### Contoh Koneksi Database di Python :

```python
import sqlite3

# Membuat / koneksi ke database
connection = sqlite3.connect("company.db")

# Membuat cursor
cursor = connection.cursor()

print("Database connected!")
```

## 2. Pengenalan Database SQL

### Tujuan :
- Memahami konsep database, tabel, kolom, dan record

- Mengenal tipe data di SQLite

### Penjelasan :

- Database: tempat menyimpan data

- Table: kumpulan data dalam bentuk baris & kolom

- Column: field (atribut data)

- Row / Record: data individual

### Tipe data utama di SQLite:

- INTEGER

- REAL

- TEXT

- BLOB (Binary Large Object) -> Gambar, Audio (MP3), Video (MP4), File Dokumen (PDF, DOCX, ZIP)

- NULL

### Contoh Melihat Tabel di Database :
```python
# Melihat daftar tabel
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())
```

## 3. Membuat Tabel

### Tujuan :

- Membuat tabel di SQLite lewat Python

- Memahami PRIMARY KEY dan NOT NULL

### Contoh Kode :

```python
# Membuat tabel employees
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

connection.commit()
print("Tabel employees berhasil dibuat.")
```

## 4. Memasukkan & Memanipulasi Data

### Tujuan

- Insert data

- Update data

- Delete data

### Contoh Insert Data Satu per Satu

```python
cursor.execute("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)",
               ("Vanya", 23, "Software Engineer Instructor"))
connection.commit()
```

### Contoh Insert Banyak Data Sekaligus

```python
data = [
    ("Dani", 22, "Data Scientist"),
    ("Bayan", 18, "Data Engineer"),
    ("Rika", 25, "UI/UX Designer")
]
cursor.executemany("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", data)
connection.commit()
```

### Contoh Update data

```python
cursor.execute("UPDATE employees SET department = ? WHERE name = ?", ("Senior Data Scientist", "Dani"))
connection.commit()
```

### Contoh Delete data

```python
cursor.execute("DELETE FROM employees WHERE name = ?", ("Bayan",))
connection.commit()
```

## 5. Join Table

### Tujuan

- Menggabungkan data dari dua tabel

- Memahami INNER JOIN, LEFT JOIN, RIGHT JOIN

### Persiapan Tabel Department

```python
cursor.execute('''
CREATE TABLE IF NOT EXISTS departments (
    dept_id INTEGER PRIMARY KEY AUTOINCREMENT,
    dept_name TEXT NOT NULL
)
''')

cursor.executemany("INSERT INTO departments (dept_name) VALUES (?)",
                   [("Software Engineer",), ("Data Science",), ("UI/UX",)])
connection.commit()
```

### Menambahkan Kolom Foreign Key di Employees

```python
# Untuk contoh, kita tambahkan kolom dept_id
cursor.execute("ALTER TABLE employees ADD COLUMN dept_id INTEGER")
connection.commit()

# Update data dengan dept_id
cursor.execute("UPDATE employees SET dept_id = 1 WHERE department LIKE '%Software%'")
cursor.execute("UPDATE employees SET dept_id = 2 WHERE department LIKE '%Data%'")
cursor.execute("UPDATE employees SET dept_id = 3 WHERE department LIKE '%UI/UX%'")
connection.commit()
```

### Contoh JOIN

```python
cursor.execute('''
SELECT e.name, e.age, d.dept_name
FROM employees e
INNER JOIN departments d ON e.dept_id = d.dept_id
''')

for row in cursor.fetchall():
    print(row)
```

---

## Code Together

### 1. Setup Database

In [1]:
import sqlite3

# Koneksi ke database (akan membuat file baru jika belum ada)
conn = sqlite3.connect("company.db")
cursor = conn.cursor()

print("Koneksi database berhasil!")

Koneksi database berhasil!

### 2. Membuat Tabel

In [ ]:
# Buat tabel employees
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

# Buat tabel departments
cursor.execute('''
CREATE TABLE IF NOT EXISTS departments (
    dept_id INTEGER PRIMARY KEY AUTOINCREMENT,
    dept_name TEXT NOT NULL
)
''')

# memastikan database nya terjadi suatu perubahan
conn.commit()
print("Tabel berhasil dibuat!")

Tabel berhasil dibuat!

In [3]:
# buat cek tabel employess (strukturnya)
cursor.execute("PRAGMA table_info(employees)")
for row in cursor.fetchall():
    print(row)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 1, None, 0)
(2, 'age', 'INTEGER', 0, None, 0)
(3, 'department', 'TEXT', 0, None, 0)

In [4]:
# cek tabel departemen (strukturnya)
cursor.execute("PRAGMA table_info(departments)")
for row in cursor.fetchall():
    print(row)

(0, 'dept_id', 'INTEGER', 0, None, 1)
(1, 'dept_name', 'TEXT', 1, None, 0)

### 3. Memasukkan Data

In [5]:
# Insert ke tabel employees
employees_data = [
    ("Bayu", 23, "Software Engineer"),
    ("Amel", 22, "Data Scientist"),
    ("Pak Budi", 18, "Data Engineer")
]
cursor.executemany("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", employees_data)

# Insert ke tabel departments
departments_data = [
    ("Software Engineer",),
    ("Data Science",),
    ("UI/UX Design",)
]
cursor.executemany("INSERT INTO departments (dept_name) VALUES (?)", departments_data)

conn.commit()
print("Data berhasil dimasukkan!")

Data berhasil dimasukkan!

### 4. Menampilkan Data

In [ ]:
# Lihat semua data employees
#               tolong tampilin semua data dari tabel employees
cursor.execute("SELECT * FROM employees")
# perulangan buat nampilin semua datanya yaitu data employees
for row in cursor.fetchall():
    print(row)

(1, 'Bayu', 23, 'Software Engineer')
(2, 'Amel', 22, 'Data Scientist')
(3, 'Pak Budi', 18, 'Data Engineer')

In [7]:
# Lihat semua data departments
cursor.execute("SELECT * FROM departments")
for row in cursor.fetchall():
    print(row)

(1, 'Software Engineer')
(2, 'Data Science')
(3, 'UI/UX Design')

### 5. Mengupdate Data

In [9]:
# Update department Bayan
cursor.execute("UPDATE employees SET department = ? WHERE name = ?", ("UI/UX Design", "Amel"))
conn.commit()

In [10]:
# Lihat semua data employees
cursor.execute("SELECT * FROM employees")
for row in cursor.fetchall():
    print(row)

(1, 'Bayu', 23, 'Software Engineer')
(2, 'Amel', 22, 'UI/UX Design')
(3, 'Pak Budi', 18, 'Data Engineer')

### 6. Menghapus Data

In [11]:
# Hapus 1 data
# dia itu delete by id entah itu kolom name atau kolom departemen
cursor.execute("DELETE FROM employees WHERE name = ?", ("Amel",))
conn.commit()

In [12]:
# Lihat semua data employees
cursor.execute("SELECT * FROM employees")
for row in cursor.fetchall():
    print(row)

(1, 'Bayu', 23, 'Software Engineer')
(3, 'Pak Budi', 18, 'Data Engineer')

### 7. JOIN Table

In [13]:
# Tambah kolom dept_id di employees (kalau belum ada)
try:
    cursor.execute("ALTER TABLE employees ADD COLUMN dept_id INTEGER")
except:
    pass

# Update dept_id berdasarkan department
cursor.execute("UPDATE employees SET dept_id = 1 WHERE department = 'Software Engineer'")
cursor.execute("UPDATE employees SET dept_id = 2 WHERE department LIKE '%Data%'")
cursor.execute("UPDATE employees SET dept_id = 3 WHERE department LIKE '%UI/UX%'")
conn.commit()

# INNNER JOIN
cursor.execute('''
SELECT e.name, e.age, d.dept_name
FROM employees e
INNER JOIN departments d ON e.dept_id = d.dept_id
''')
for row in cursor.fetchall():
    print(row)

('Bayu', 23, 'Software Engineer')
('Pak Budi', 18, 'Data Science')

In [14]:
# buat nutup koneksi database
conn.close()

---

## Latihan

### Soal 1 – Membuat Database & Tabel

Buat database bernama school.db.

Di dalamnya, buat tabel students dengan struktur:

| Kolom | Tipe Data | Keterangan                  |
| ----- | --------- | --------------------------- |
| id    | INTEGER   | Primary Key, Auto Increment |
| name  | TEXT      | Tidak boleh kosong          |
| age   | INTEGER   |                             |
| major | TEXT      |                             |

### Soal 2 - Insert Data

Masukkan 5 Data Mahasiswa berikut ke tabel students :

| name  | age | major            |
| ----- | --- | ---------------- |
| Vanya | 23  | Computer Science |
| Dani  | 22  | Data Science     |
| Bayan | 18  | Information Sys  |
| Dika  | 21  | Software Eng     |
| Lala  | 20  | Cyber Security   |

### Soal 3 - Menampilkan data

Tampilkan semua data mahasiswa.

### Soal 4 – Filter Data

Tampilkan semua mahasiswa yang umur lebih dari 20.

### Soal 5 – Update Data

Ubah major mahasiswa bernama Bayan menjadi Data Engineering.

### Soal 6 – Delete Data

Hapus data mahasiswa yang bernama Dika.

### Soal 7 – Menampilkan Kolom Tertentu

Tampilkan hanya kolom name dan major dari tabel students.

### Soal 8 – Urutkan Data

Tampilkan semua data mahasiswa diurutkan berdasarkan umur dari yang paling muda.

### Soal 9 – Pencarian

Tampilkan semua mahasiswa yang major-nya mengandung kata Data.

### Soal 10 – Menghapus Tabel

Hapus tabel students.

---

### Jawab Latihan dibawah ini

In [ ]:
# Code Your Answer Here

---

### Kunci Jawaban

In [ ]:
import sqlite3

# === Soal 1: Membuat Database & Tabel ===
conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
)
""")

# === Soal 2: Insert Data ===
students_data = [
    ('Vanya', 23, 'Computer Science'),
    ('Dani', 22, 'Data Science'),
    ('Bayan', 18, 'Information Sys'),
    ('Dika', 21, 'Software Eng'),
    ('Lala', 20, 'Cyber Security')
]

cur.executemany("INSERT INTO students (name, age, major) VALUES (?, ?, ?)", students_data)
conn.commit()

In [ ]:
# === Soal 3: Menampilkan Semua Data ===
cur.execute("SELECT * FROM students")
print("Semua Data:", cur.fetchall())

In [ ]:
# === Soal 4: Filter Data ===
cur.execute("SELECT * FROM students WHERE age > 20")
print("Umur > 20:", cur.fetchall())

In [ ]:
# === Soal 5: Update Data ===
cur.execute("UPDATE students SET major = 'Data Engineering' WHERE name = 'Bayan'")
conn.commit()

In [ ]:
# === Soal 6: Delete Data ===
cur.execute("DELETE FROM students WHERE name = 'Dika'")
conn.commit()

In [ ]:
# === Soal 7: Menampilkan Kolom Tertentu ===
cur.execute("SELECT name, major FROM students")
print("Name & Major:", cur.fetchall())

In [ ]:
# === Soal 8: Urutkan Data ===
cur.execute("SELECT * FROM students ORDER BY age ASC")
print("Urut Umur:", cur.fetchall())

In [ ]:
# === Soal 9: Pencarian ===
cur.execute("SELECT * FROM students WHERE major LIKE '%Data%'")
print("Major mengandung Data:", cur.fetchall())

In [ ]:
# === Soal 10: Menghapus Tabel ===
cur.execute("DROP TABLE students")
conn.commit()

In [ ]:
cur.execute("SELECT * FROM students")

In [ ]:
# Tutup koneksi (Optional)
conn.close()