## 1.

In [ ]:
# Mengubah Series menjadi DataFrame
import pandas as pd

s = pd.Series([10, 20, 30, 40, 50])

# Ubah ke DataFrame
df_s = pd.DataFrame(s, columns=["Angka"])

# Tampilkan
df_s

In [ ]:
# Mengubah Dataframe menjadi series
import pandas as pd

# DataFrame
df = pd.DataFrame({
    'Nama': ['Ari', 'Budi'],
    'Umur': [25, 30]
})

# Ambil 1 kolom 'Umur' sebagai Series
umur_series = df['Umur']

print(umur_series)

In [4]:
# Mengubah Seluruh Dataframe menjadi Series
import pandas as pd

# DataFrame
df = pd.DataFrame({
    'Nama': ['Ari', 'Budi'],
    'Umur': [25, 30]
})

# Mengubah seluruh DataFrame menjadi Series
semua_series = df.stack()

print(semua_series)

0  Nama     Ari
   Umur      25
1  Nama    Budi
   Umur      30
dtype: object

In [ ]:
# Pakai .melt() jika ingin lebih flat (opsional)
df_melt = df.melt()
df_melt

  variable value
0     Nama   Ari
1     Nama  Budi
2     Umur    25
3     Umur    30

In [9]:
# Pakai .values.ravel() jika hanya mau isinya saja (tanpa label)
semua_series = pd.Series(df.values.ravel())

semua_series

0     Ari
1      25
2    Budi
3      30
dtype: object

| Tujuan                                    | Fungsi yang Dipakai            | Keterangan               |
| ----------------------------------------- | ------------------------------ | ------------------------ |
| Ingin Series lengkap (dengan label kolom) | `df.stack()`                   | Paling informatif        |
| Ingin Series tanpa label                  | `pd.Series(df.values.ravel())` | Hanya isi data saja      |
| Ingin format table vertikal               | `df.melt()`                    | Keluaran tetap DataFrame |